{{ define "main" }}

<section style="margin-top: 100px">
  <div class="container-wide">
    <div class="row">
      <div class="col-sm-6">
        <p class="lead">
          Hi! My name is Tim and I am a coach from Barcelona, helping people to
          define and reach their goals. <br />
          <a href="/about">Learn more</a>
        </p>
      </div>
      <div class="col-sm-6">
        <img src="/images/tim.jpg" />
      </div>
    </div>
  </div>
</section>

{{ partial "blog.html"}} {{ end }}
